main {}
main .wrap {
    height:100vh;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
main .wrap h1 {}
main .wrap h1 a {}
main .wrap h1 a img {
    width:500px;
}
main .wrap form {
    padding:120px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
main .wrap form .id_pw_wrap {
    display:flex;
    flex-flow:column nowrap;
    margin-bottom:50px;
}
main .wrap form input {
    width:500px;
    padding:10px;
}
main .wrap form #user_id {
    border-top:2px solid #99ca3b;
    border-left:2px solid #99ca3b;
    border-bottom:2px solid #152b49;
    border-right:2px solid #52b8e9;
    margin-bottom:20px;
}
main .wrap form #user_pw {
    border-top:2px solid #152b49;
    border-left:2px solid #99ca3b;
    border-bottom:2px solid #52b8e9;
    border-right:2px solid #52b8e9;

}
main .wrap form #login_btn {
    width:240px;
    padding:10px;
    background:#52b8e9;
    color:#fff;
    border-radius:3px;
    transition:all 0.2s;
}
main .wrap form #login_btn:hover {
    background:#152b49;
    box-shadow:0 0 5px rgba(0,0,0,0.6);
}